@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Playball&family=Raleway&display=swap");

/* Bowling Alley fonts */
.bowling-ally-logo {
  font-family: "Playball", cursive;
}
.bowling-ally-heder {
  font-family: "Raleway", sans-serif;
}

.bowling-ally-text {
  font-family: "Lato", sans-serif;
}

/* Bowling alley colors */
.bowling-ally-1-hex {
  color: #3f0061;
}
.bowling-ally-2-hex {
  color: #003c61;
}
.bowling-ally-3-hex {
  color: #18614a;
}
.bowling-ally-4-hex {
  color: #613901;
}
.bowling-ally-5-hex {
  color: #61291a;
}

.bg-color-1 {
  background-color: #3f0061;
}
.bg-color-2 {
  background-color: #003c61;
}
.bg-color-3 {
  background-color: #18614a;
}
.bg-color-4 {
  background-color: #613901;
}
.bg-color-5 {
  background-color: #61291a;
}

/*--------------------------------------------- General */
body {
}

section ul {
  margin-bottom: 0;
}

/*--------------------------------------------- Header */

.bg-navbar {
  background-color: rgba(0, 0, 0, 0.85);
}

.nav-item {
  text-align: center;
  font-size: 1.2em;
}
.social-links {
  padding: 0;
  margin-top: 30px;
}

.social-links li a i {
  height: 40px;
  width: 40px;
  font-size: 40px;
}
.logo {
  font-family: "Playball", cursive;
  font-size: 35px;
}

/*--------------------------------------------- Footer */
footer {
  color: white;
}

footer h2 {
  display: block;
  border-bottom: 1px solid white;
}
footer h2 i {
  padding-right: 10px;
}
footer td {
  padding-right: 5px;
}
footer ul {
  padding: 0;
  margin-top: 30px;
}

footer .nav-link {
  color: white;
}
footer .nav-link:hover {
  color: rgba(255, 255, 255, 0.8);
}
footer li a i {
  height: 40px;
  width: 40px;
  font-size: 40px;
}

footer h2,
footer ul {
  margin: 10px;
  padding: 0;
}

/*--------------------------------------------- Index */
.hero-index {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/pexels-matthias-zomer-344029.jpg");

  height: 33vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.index-products .list-inline-item:not(:last-child) {
  margin-right: 0;
}
.index-products li a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  text-align: center;
  padding: 100px 0;
  display: block;
  margin: 0;

  transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
}
.index-products li {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.index-products__bowling {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/bowling-596766_1920.jpg");
}
.index-products__bday {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/derek-martin-m4o5RuY1waY-unsplash.jpg");
}
.index-products__billiards {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/pexels-tomaz-barcellos-2017868.jpg");
}
.index-products__findus {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/pexels-elina-sazonova-2705756.jpg");
}
.index-products__resturants {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/pexels-snapwire-675951.jpg");
}
.index-products__booking {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/ray-reyes-ND_kgsnEIeY-unsplash.jpg");
}
.index-products li a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.index-newsletter {
  padding: 20px 0;
}
.index-newsletter h2 {
  padding: 0;
  margin: 0;
}
.index-newsletter form {
  margin: 0 0 20px 0;
}
