@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Playball&family=Raleway&display=swap");

.bg-color-1 {
  background-color: #3f0061;
}
.bg-color-2 {
  background-color: #003c61;
}
.bg-color-3 {
  background-color: #18614a;
}
.bg-color-4 {
  background-color: #613901;
}
.bg-color-5 {
  background-color: #61291a;
}

/*--------------------------------------------- General */
body {
  background-color: #0e1012;
  font-family: "Raleway", sans-serif;
}
a {
  color: white;
  text-decoration: underline;
}
a:hover {
  color: rgba(255, 255, 255, 0.6);
}
section ul {
  margin-bottom: 0;
}

:target {
  scroll-margin-top: 80px;
}
header {
  margin: 0;
  padding: 0;
}

/*--------------------------------------------- Header */

.bg-navbar {
  background-color: rgba(0, 0, 0, 0.85);
}

.navbar,
.navbar-toggler-icon {
  background-color: rgba(0, 0, 0, 0);
  color: white;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
}
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.75);
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show > .nav-link {
  color: rgba(255, 255, 255, 0.75);
}
.nav-item {
  text-align: center;
  font-size: 1.2em;
}
.social-links {
  padding: 0;
  margin-top: 30px;
}

.social-links li a i {
  height: 40px;
  width: 40px;
  font-size: 40px;
}
.logo {
  font-family: "Playball", cursive;
  font-size: 35px;
}

.hero-background {
  height: 40vh;
  position: relative;
  padding: 0;
}
.hero-background h2 {
  position: absolute;
  width: 100%;
  bottom: 5%;
  font-family: "Lato", sans-serif;
  font-size: 4em;
  text-align: center;
  text-transform: uppercase;
}
@media only screen and (max-width: 767px) {
  .hero-background {
    height: 30vh;
  }
  .hero-background h2 {
    font-size: 3em;
  }
}

/*--------------------------------------------- Footer */
footer {
  color: white;
}

footer h2 {
  display: block;
  border-bottom: 1px solid white;
}
footer h2 i {
  padding-right: 10px;
  font-size: 25px;
}
footer td {
  padding-right: 5px;
}
footer ul {
  padding: 0;
  margin-top: 30px;
}

footer a {
  color: white;
  text-decoration: underline;
}
footer a:hover {
  color: rgba(255, 255, 255, 0.6);
}
footer li a i {
  height: 40px;
  width: 40px;
  font-size: 40px;
}

footer h2,
footer ul {
  margin: 10px;
  padding: 0;
}

/*--------------------------------------------- Index */
#index .hero-background {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/pexels-matthias-zomer-344029.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#index table td {
  padding: 0 5px;
  width: 50%;
}
#index table td:first-child {
  text-align: right;
}
#index table td:last-child {
  text-align: left;
}

.index-products .list-inline-item:not(:last-child) {
  margin-right: 0;
}
.index-products li a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  text-align: center;
  padding: 100px 0;
  display: block;
  margin: 0;

  transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
}
.index-products li {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 0;
}
.index-products__bowling {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/pexels-skitterphoto-4192.jpg");
}
.index-products__bday {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/derek-martin-m4o5RuY1waY-unsplash.jpg");
}
.index-products__billiards {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/pexels-tomaz-barcellos-2017868.jpg");
}
.index-products__findus {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/pexels-elina-sazonova-2705756.jpg");
}
.index-products__restaurants {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/pexels-snapwire-675951.jpg");
}
.index-products__booking {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/ray-reyes-ND_kgsnEIeY-unsplash.jpg");
}
.index-products li a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.index-newsletter {
  padding: 20px 0;
}
.index-newsletter h2 {
  padding: 0;
  margin: 0;
}
.index-newsletter form {
  margin: 0 0 20px 0;
}

/*--------------------------------------------- Activities */
#activities .hero-background {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)),
    url("../images/pexels-skitterphoto-4192.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  overflow: hidden;
  position: relative;
}

#activities img {
  border: 3px solid white;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  #activities {
    margin: 0 auto;
    text-align: center;
  }
}

/*--------------------------------------------- Find us */
#findus .hero-background {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)),
    url("../images/pexels-elina-sazonova-2705756.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#findus .map {
  width: 100%;
}

/*--------------------------------------------- Restaurant */
#restaurant .hero-background {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)),
    url("../images/pexels-snapwire-675951.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#restaurant img {
  border: 3px solid white;
  object-fit: cover;
  width: 33%;
  height: 100%;
  float: right;
  margin: 0.5em;
}
/*--------------------------------------------- Booking */
#booking .hero-background {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url("../images/ray-reyes-ND_kgsnEIeY-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#booking .booking-form__center {
  margin: 0 auto;
}

@media (min-width: 768px) {
  #booking .booking-form__center {
    margin: 0 auto;
    max-width: 40%;
  }
}

/*--------------------------------------------- Landing */
#landing .hero-background {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)),
    url("../images/pexels-gratisography-519.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
